@using newTolkuchka.Services.Interfaces
@model IEnumerable<CategoryTree>
@inject IPath _pathService

@foreach (CategoryTree c in Model)
{
    <div class="px-1">
        <a href="@PathService.GetModelUrl(ConstantsService.CATEGORY, c.Id)" class="d-inline-flex align-content-center">
            @Html.Raw(File.ReadAllText($"{_pathService.GetSVGFolder()}/category/{c.Id}.svg"))
            <h5 class="ms-2 m-0 align-self-center">@c.Name</h5>
        </a>
        @if (c.List != null)
        {
            <div class="row mb-2 px-3">
                @foreach (CategoryTree c1 in c.List)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                        <a href="@PathService.GetModelUrl(ConstantsService.CATEGORY, c1.Id)" class="d-inline-flex text-black mb-1 mb-md-0">
                            <strong>@c1.Name</strong>
                        </a>
                        <div class="ps-2">
                            @if (c1.List != null)
                            {
                                foreach (CategoryTree c2 in c1.List)
                                {
                                    <a href="@PathService.GetModelUrl(ConstantsService.CATEGORY, c2.Id)" class="d-flex mb-1 mb-md-0">
                                        <p>@c2.Name</p>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
