@model List<string>

@if (Model.Count > 2)
{
    <a href="/@Model[0]" data-mdb-toggle="modal" data-mdb-target="@Model[2]">
        <i class="@Model[1]"></i>
        @*<span class="me-1">@Localizer[Model[2]]</span>*@
    </a>
}
else
{
    <a href="/@Model[0]">
        <i class="@Model[1]"></i>
        @*<span class="me-1">@Localizer[Model[2]]</span>*@
        @if (Model[0] == ConstantsService.CART)
        {
            <span name="q" class="badge dark badge-dark rounded-pill q">0</span>
        }
        @if (Model[0] == ConstantsService.COMPARISON)
        {
            <span name="s" class="badge dark badge-dark rounded-pill q">0</span>
        }
    </a>
}