@* not used *@
@model UIProduct

<div class="col-12 col-md-6 col-xl-4 mb-4">
    <a href="/@ConstantsService.PRODUCT/@Model.Id">
        <div class="row">
            <div class="col-6 px-0">
                <img width="200" height="200" style="width: 100%; height: auto" alt="@Model.Name" src="@PathService.GetImageRelativePath(ConstantsService.PRODUCT + "/small", Model.Id)" />
            </div>
            <div class="col-6 d-flex flex-column px-0">
                <div>
                    <p>@Model.Name</p>
                </div>
                <div class="flex-grow-1 d-flex justify-content-end align-items-end">
                    <div class="text-end pe-5">
                        @if (Model.NewPrice != null)
                        {
                            <s>@Model.Price</s>
                            <h6>@CurrencyService.Currency.CodeName @Model.NewPrice</h6>
                        }
                        else
                        {
                            <h6>@CurrencyService.Currency.CodeName @Model.Price</h6>
                        }
                    </div>
                </div>
            </div>
        </div>
    </a>
    <div class="text-center py-1">
        @*<button type="submit" class="btn btn-primary mx-3">@Localizer["now"]</button>*@
        <button type="submit" class="btn btn-primary mx-3">@Localizer["add-to-cart"]</button>
    </div>
</div>