@model string
@{
    IEnumerable<Category> categories = ViewBag.Categories;
    int? width = ViewBag.WindowWidth;
}
@if (Model != null)
{

    @if (categories != null && categories.Any() && width < ConstantsService.MOBILEWIDTH)
    {
        <div class="accordion accordion-borderless" id="accordion">
            <div class="accordion-item">
                <h4 class="accordion-h4 d-flex collapsed" role="button" data-mdb-toggle="collapse" data-mdb-target="#collapse" aria-expanded="true" aria-controls="collapse" id="heading">
                    @Model
                </h4>
                <div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading" data-mdb-parent="#accordion">
                    <div class="accordion-body p-0">
                        @foreach (Category c in categories)
                        {
                            <a class="d-block" href="/@ConstantsService.CATEGORY/@c.Id">@CultureProvider.GetLocalName(c.NameRu, c.NameEn, c.NameTm)</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4>
            @Model
        </h4>
    }
}
@if (width == null || width < ConstantsService.MOBILEWIDTH)
{
    <div id="slide-filters" class="sidenav px-5 py-3">
        @if (categories != null && categories.Any())
        {
            foreach (Category c in categories)
            {
                <a class="d-block" href="/@ConstantsService.CATEGORY/@c.Id">@CultureProvider.GetLocalName(c.NameRu, c.NameEn, c.NameTm)</a>
            }
        }
        <strong><label for="ran">@Localizer["price2"] @CurrencyService.Currency.CodeName</label></strong>
        <div id="slide-range"></div>
        <div name="types">
        </div>
        <div name="brands">
        </div>
        <div name="filters">
        </div>
    </div>
    <button type="button" data-target="slide-filters" class="btn btn-primary btn-floating d-lg-none sidenav-trigger z-index1" name="filter" aria-label="@Localizer["filter"]" id="btn-filter">
        <i class="fas fa-filter"></i>
    </button>
}
<div class="row">
    @if (width == null || width > ConstantsService.MOBILEWIDTH)
    {
        <div class="d-none d-lg-block col-lg-2 col-xl-2 px-0 pe-1">
            @if (categories != null && categories.Any())
            {
                foreach (Category c in categories)
                {
                    <a class="d-block" href="/@ConstantsService.CATEGORY/@c.Id">@CultureProvider.GetLocalName(c.NameRu, c.NameEn, c.NameTm)</a>
                }
            }
            <strong><label for="ran">@Localizer["price2"] @CurrencyService.Currency.CodeName</label></strong>
            <div id="range"></div>
            <div name="types">
            </div>
            <div name="brands">
            </div>
            <div name="filters">
            </div>
        </div>
    }
    <div class="col-12 col-lg-10 col-xl-10 ps-md-3">
        <div class="d-flex mb-4">
            <strong><label for="sortby">@Localizer["sort"]</label></strong>
            <div class="d-flex" id="sortby"></div>
        </div>
        <div class="row me-2 me-md-0" id="products">
        </div>
    </div>
    <div class="text-center" id="pagination">
    </div>
</div>